* {
  margin: 0px;
}

.navbar {
  background-color: grey;
}

.navbar-brand {
  font-size: 26px;
}

.nav-link {
  font-size: 18px;
}
.nav-link:hover {
  color: black !important;
}

.navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  background-color: rgba(128, 128, 128, 0.486);
}

.jumbotron {
  background-image: url(./multimedia/fondo.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0px;
  margin: 0px;
  text-align: center;
}

h2 {
  text-align: center;
  color: white;
  padding: 10px;
  margin: 0px;
  background-color: grey;
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

#cortina {
  background-image: url(./multimedia/cortina.jpg);
  height: 450px;
  background-size: cover;
  background-position: center;
}

#cortina-motorizada {
  background-image: url(./multimedia/cortina-motorizada.jpg);
  height: 450px;
  background-size: cover;
  background-position: center;
}

#Toldo {
  background-image: url(./multimedia/toldo.jpg);
  height: 450px;
  background-size: cover;
  background-position: center;
}

#Persiana {
  background-image: url(./multimedia/persiana.jpg);
  height: 450px;
  background-size: cover;
  background-position: center;
}

p {
  font-size: 18px;
}

hr {
  border: black 1px solid;
  margin: 0px;
}

footer {
  background-color: grey;
  padding: 4px;
  margin: 0px;
  font-size: 20px;
  text-align: center;
}

.servicio {
  background-color: rgba(128, 128, 128, 0.562);
  text-align: center;
  list-style: none;
  font-size: 18px;
}


.linea {
  border: 1px black solid;
}

li {
  font-size: 17px;
  padding: 5px;
}

legend {
  font-size: 18px;
  padding-top: 5px;
}

form {
  background-color: rgba(128, 128, 128, 0.486);
  font-size: 15px;
  padding-left: 5px;
  min-height: calc(100vh - 120px);
}

.input {
  margin: 5px;
  padding: 5px;
}

.mapa{
    position: relative;
    min-height: calc(100vh - 120px);
}

.mapa iframe{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
}

.nosotros {
  min-height: calc(100vh - 120px);
  font-size: 20px;
  margin: 0px;
  padding: 3px;
  background-image: url(./multimedia/cortina-gris.jpg);
  background-image: linear-gradient(0deg rgba(241, 228, 228, 0.863), rgba(241, 228, 228, 0.863));
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-shadow: 0 0 5px white;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
  }
  footer {
    font-size: 18px;
  }
  li {
    font-size: 15px;
    height: 50px;
    text-align: center;
    padding: 10px;
  }
  legend {
    font-size: 18px;
  }
  form {
    font-size: 15px;
    height: 450px;
  }
  .nosotros {
    height: 691px;
    font-size: 18px;
  }
  #cortina {
    height: 300px;
  }
  #cortina-motorizada {
    height: 300px;
  }
  #Persina {
    height: 200px;
  }
  #Toldo {
    height: 300px;
  }
  .mapa {
    height: 691px;
  }
}/*# sourceMappingURL=index.css.map */